modules = ["java-graalvm22.3"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Запуск Java"

[[workflows.workflow]]
name = "Запуск Java"
author = 40373304

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "javac 'src/ex 0/Main.java' && java -cp 'src/ex 0' Main"
